@myFont:"Microsoft YaHei","PingFang SC","Hiragino Sans GB";
@myFontSans:sans-serif;

@mainFontColor: #a0afba;
@mainYellowColor: #ffcd42;
@mainBlueColor: #5A738A;

@borderColor: #dfdfdf;
@shadowColor: #3A5266;



page{
  font-family:@myFont,@myFontSans;
  font-size: 28rpx;
  //border-top: 1px solid #e9e9e9;
}

/*button{
  margin: 0;
  line-height: normal;
  position: static;
}*/

.type-yellow{
  color: #ffffff;
  background: @mainYellowColor;
}

.type-yellow-plain{
  color: @mainYellowColor;
  background: #ffffff;
  border: 1px solid @mainYellowColor;
}

.type-gray{
  color: #ffffff;
  background: #dfdfdf;
}

.type-blue{
  color: #ffffff;
  background: @mainBlueColor;
}



//  文字省略 ...
.ellipsis(@width: 100rpx;){
  width: @width;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.fz18 {
  font-size: 18rpx;
}
.fz20 {
  font-size: 20rpx;
}
.fz21 {
  font-size: 21rpx;
}

.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}
.fz36{
  font-size: 32rpx;
}

.fz38{
  font-size: 38rpx;
}

.fz40{
  font-size: 40rpx;
}

.fz44{
  font-size: 44rpx;
}

.wl(@width: auto,@height: auto) {
  width: @width;
  height: @height;
}

.fz(@size) {
  font-size: @size;
}

.sc(@size, @color) {
  font-size: @size;
  color: @color;
}

.fj(@type: space-between;@align: center;) {
  display: flex;
  justify-content: @type;
  align-items: @align;
}

.fjc(@type: space-between;@align: center) {
  display: flex;
  justify-content: @type;
  align-items: @align;
  flex-direction: column;
}

.btn-wrap{
  margin-top: 100rpx;
  .fj(center);

  .button{
    padding: 20rpx 50rpx;
    .type-blue();
    border-radius: 10rpx;
    font-weight: bold;
    .fz(28rpx);
    margin: 0;
    line-height: 40rpx;
    //position: static;

    &:after{
      border: none;
    }

    &:first-child{
      margin-right: 30rpx;
    }

    &.plain{
      .type-yellow-plain;
    }

    &.type-blue{
      .type-blue();
      border: none;
    }
  }
}

.lh(@height: auto){
  height: @height;
  line-height: @height;
}

.search-bar {
  border: 1px solid @mainFontColor;
  .fj();
  position: relative;
  border-radius: 4rpx;

  .input-wrap {
    flex: 1;
    height: 60rpx;
    padding-left: 20rpx;

    display: flex;
    align-items: center;

    .search-icon {
      .wl(30rpx, 30rpx);
      margin-right: 10rpx;
    }

    input {
      flex: 1;
      .sc(21rpx, #999);
    }
  }

  button {
    .fz(26rpx);
    border-radius:0 4rpx 4rpx 0;
  }
}

.selector-box + .selector-box{
  margin-left: 20rpx;
}
